@page "/Accordion"

<h3>Accordion</h3>

<AccordionComponent Text1="1-Bootstrap is developed mobile first, a strategy in which we optimize code for mobile devices first and then scale up components as necessary using CSS media queries. To ensure proper rendering and touch zooming for all devices, add the responsive viewport meta tag to your <head>."
                    Text2="2-Bootstrap is developed mobile first, a strategy in which we optimize code for mobile devices first and then scale up components as necessary using CSS media queries. To ensure proper rendering and touch zooming for all devices, add the responsive viewport meta tag to your <head>."
                    Text3="3-Bootstrap is developed mobile first, a strategy in which we optimize code for mobile devices first and then scale up components as necessary using CSS media queries. To ensure proper rendering and touch zooming for all devices, add the responsive viewport meta tag to your <head>."
                    Menu1="Մենյու—1"
                    Menu2="ՄԵնյու-2"
                    Menu3="Մենյու-3">

</AccordionComponent>


@code {

}
