@page "/Grids"

<h1>Grids</h1>
<br />
<br />
<GridAutoComponent Items="employees"
                   CssClass="is-striped is-hoverable"
                   ColumnsToExclude="Id">
</GridAutoComponent>
<br />
<br />



@code
{
    private List<Employee> employees;
    private List<ColumnDefinition> columnsDefinitionEmployee;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Initialize();
    }

    private void Initialize()
    {
        if (employees == null)
        {
            employees = new List<Employee>();

            employees.AddRange(new Employee[]
            {
            new Employee{ Id=1, Name="Պողոս", SureName="Պողոսյան", Age=20, Date=DateTime.Now},
            new Employee{ Id=2, Name="Պետրոս", SureName="Պետրոսյան", Age=23, Date=DateTime.Now},
            new Employee{ Id=3, Name="Մարտիրոս", SureName="Մարտիրոսյան", Age=25, Date=DateTime.Now}
                                            });
        }


        if (columnsDefinitionEmployee == null)
        {
            columnsDefinitionEmployee = new List<ColumnDefinition>();
            columnsDefinitionEmployee.AddRange(
            new ColumnDefinition[]{
                    new ColumnDefinition { DataField="Id",Caption="Հ/Հ"},
                    new ColumnDefinition { DataField="Name",Caption="Անուն"},
                    new ColumnDefinition { DataField="SureName",Caption="Ազգանուն" , Alignment=Alignment.Left},
                    new ColumnDefinition { DataField="Age",Caption="Տարիք",},
                    new ColumnDefinition { DataField="Date",Caption="Ամսաթիվ", Format="dd/MM/yyyy",DataType=DataType.Date },
                });
        }
    }

    public class Employee
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string SureName { get; set; }
        public int Age { get; set; }
        public DateTime Date { get; set; }

    }
}

