@page "/"

<h1>Hello, world!</h1>


<ul class="accordions" style="font-size: 16px;">
    <li class="accordion">
        <div class="accordion-header">
            <div class="accordion-icon">&nbsp;</div>
            <h6>Sovsoarak55555555555555</h6>
        </div>
        <div class="accordion-content" style="display: none;">
            <ul>
                <li>444444444444444444</li>
                <li>44444444444444444444</li>
                <li>44444444444444444444</li>
            </ul>
        </div>
    </li>


    <li class="accordion">
        <div class="accordion-header">
            <div class="accordion-icon">&nbsp;</div>
            <h6>Sosvaoarak77777777777777777</h6>
        </div>
        <div class="accordion-content" style="display: none;">
            <ul>
                <li>888888888888888888</li>
                <li>88888888888888888888</li>
                <li>8888888888888888888</li>
            </ul>
        </div>
    </li>

</ul>



@code
{

}

