@page "/MyGrid"


<br />
<br />
<DataGridComponent @ref="grid"
                   TItem="Employee"
                   DataItems="listEmployees"
                   Columns="columnsDefinition"
                   Paging="@(new PagingConfig {
                                 Enabled=true,
                                 CustomPager=false,
                                 PageSize=2
                             })">

    <CustomPager>
        <button class="btn btn-primary" @onclick="PrevPage">Նախորդ</button>
        <span style="font-size:12px;color:gray">
            &nbsp;&nbsp; Էջ
            <input type="number" max="@grid.MaxPageNumber" min="1"
                   @bind-value="@grid.CurretPageNumber" />-ը
            @grid.MaxPageNumber էջից&nbsp;&nbsp;
        </span>
        <button class="btn btn-primary" @onclick="NextPage">Հաջորդ</button>
    </CustomPager>

</DataGridComponent>

@code
{
    private DataGridComponent<Employee> grid;
    private List<Employee> listEmployees;
    private List<ColumnDefinition> columnsDefinition;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Initialize();
    }

    private void Initialize()
    {
        if (listEmployees == null)
        {
            listEmployees = new List<Employee>();

            listEmployees.AddRange(
                new Employee[]
                {
                    new Employee
                    {
                        Name="Martiros",
                        Title="Developer",
                        Department="Software Dev",
                        EmploymentDate=DateTime.Now,
                        Salary=1000000
                    },
                     new Employee
                    {
                        Name="Kirakos",
                        Title="DBA",
                        Department="IT Dev",
                        EmploymentDate=DateTime.Now,
                        Salary=2000000
                    },
                      new Employee
                    {
                        Name="Poxos",
                        Title="Developer",
                        Department="Software Dev",
                        EmploymentDate=DateTime.Now,
                        Salary=3000000
                    },
                       new Employee
                    {
                        Name="Petros",
                        Title="QA",
                        Department="QA Dev",
                        EmploymentDate=DateTime.Now,
                        Salary=8000000
                    },
                            }

                );
        }

        if (columnsDefinition == null)
        {
            columnsDefinition = new List<ColumnDefinition>();
            columnsDefinition.AddRange(
                new ColumnDefinition[]{
                    new ColumnDefinition { DataField="Name",Caption="Name", SortDirection=SortDirection.Asc},
                    new ColumnDefinition { DataField="Title",Caption="Title"},
                    new ColumnDefinition { DataField="Department",Caption="Department"},
                    new ColumnDefinition { DataField="EmploymentDate",Caption="EmploymentDate", Format="dd/MM/yyyy", DataType=DataType.Date },
                    new ColumnDefinition { DataField="Salary",Caption="Annual Salary", DataType=DataType.Currency, Alignment=Alignment.Right, Format="c"}

                            });
        }
    }

    public class Employee
    {
        public string Name { get; set; }
        public string Title { get; set; }
        public string Department { get; set; }
        public DateTime EmploymentDate { get; set; }
        public Decimal Salary { get; set; }
    }

    private void PrevPage()
    {
        grid.GoToPrevPage();
    }
    private void NextPage()
    {
        grid.GoToNextPage();
    }
}

