<h3>Counter Component</h3>



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public EventCallback<int> Count { get; set; }

    private void IncrementCount()
    {
        currentCount++;
        Count.InvokeAsync(currentCount);
    }
}
