@page "/testgridview/gridview"
@inherits GridViewBase

@if (employeeList == null)

{
    <p>Loading...</p>
}
else
{
    <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
                AllowSorting="true" Data="@employeeList" TItem="Employee" ColumnWidth="150px">
        <Columns>
            <RadzenGridColumn TItem="Employee" Property="EmployeeId" Title="Հ/Հ"></RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Property="FirstName" Title="Անուն"></RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Property="LastName" Title="Ազգանուն"></RadzenGridColumn>
            <RadzenGridColumn TItem="Employee" Property="Age" Title="Հայրանուն"></RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}
