
<button class="btn btn-primary" @onclick="Update">
    Onclick
</button>

<br />
<br />

<p>@InitialValue</p>
<p>Count : @CountClick</p>

@code {
    [Parameter]
    public string InitialValue { get; set; } = string.Empty;


    public int? CountClick { get; set; } = 0;


    private void Update(MouseEventArgs e)
    {
        CountClick = CountClick + 1;
        InitialValue += " Click "+ CountClick.ToString();

    }
}