<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTest.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/testgridview/gridview" Match="NavLinkMatch.All">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> GridView
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/EventHandling/OnclickEvent" @onclick="()=>expandSubNavEventHandling = !expandSubNavEventHandling" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Event Handling
            </NavLink>
            @if (expandSubNavEventHandling)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/EventHandling/OnclickEvent" Match="NavLinkMatch.All">
                            <span class="oi oi-expand-left" aria-hidden="true"></span>Event Handling1
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/testgridview/gridview" Match="NavLinkMatch.All">
                            <span class="oi oi-ellipses" aria-hidden="true"></span>Event Handling2
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>



@code {

    private bool expandSubNavEventHandling;

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}



