@page "/EventHandling/OnclickEvent"
@using BlazorTest.Server.Components.EventHandling

<h3>OnclickEvent</h3>


<Onclick InitialValue="Garegin"></Onclick>
<Onclick InitialValue="Valodik"></Onclick>

<CheckBox></CheckBox>